---
layout: home
title: Inicio
---

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="hero-image">
            <img src="{{ '/assets/images/manchas.jpeg' | relative_url }}" alt="Manchas" class="hero-profile-image">
        </div>
        <div class="hero-links">
            <span>srios-lab</span>|
            <a href="{{ '/proyectos/' | relative_url }}" class="link">proyectos</a>
            <a href="{{ '/blog/' | relative_url }}" class="link">blog</a>
            <a href="{{ '/sobre-mi/' | relative_url }}" class="link">sobre mí</a>
            <div class="dropdown">
                <a href="#" class="link dropdown-toggle">social</a>
                <div class="dropdown-menu">
                    {% if site.social.github %}
                    <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener"
                        class="dropdown-item">github</a>
                    {% endif %}
                    {% if site.social.linkedin %}
                    <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener"
                        class="dropdown-item">linkedin</a>
                    {% endif %}
                    {% if site.social.email %}
                    <a href="mailto:{{ site.social.email }}" class="dropdown-item">email</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="hero-links-mobile">
            <span>srios-lab</span>
            <span class="hero-separator">|</span>
            <div class="hero-links-mobile-container">
                <a href="{{ '/proyectos/' | relative_url }}" class="link">proyectos</a>
                <a href="{{ '/blog/' | relative_url }}" class="link">blog</a>
                <a href="{{ '/sobre-mi/' | relative_url }}" class="link">sobre mí</a>
                <div class="dropdown">
                    <a href="#" class="link dropdown-toggle">social</a>
                </div>
            </div>
        </div>

        <!-- Enlaces sociales para móviles -->
        <div class="hero-social-mobile">
            {% if site.social.github %}
            <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener"
                class="link">github</a>
            {% endif %}
            {% if site.social.linkedin %}
            <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener"
                class="link">linkedin</a>
            {% endif %}
            {% if site.social.email %}
            <a href="mailto:{{ site.social.email }}" class="link">email</a>
            {% endif %}
        </div>
    </div>
</section>